<h3 class="text-center coolBorder">{{myname.name}}, Min Pal</h3>

<hr>

<div class="row">

  <div class="col-xs-4">
    <label>kent er en garvet hund og ved en masse, dog kan han ikke huske mere en fem minutter ad gangen.
      og skal lige luftes i ny og næ. Men til gengæld er han en trofast støtte til sine kollegaer.</label>
  </div>


</div>
<hr>
<div class="row">
  <div class="col text-center">
    <img class="coolBorder" height="300"
      src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2016_52/1184388/rescue-group-old-dog-haven-today-161226-tease-01.jpg">

  </div>
</div>
